.my-button {
  background-color: #0a7d3a;
  color: white;
  border-radius: .25rem;
  font-weight: 500;
  width: 100%;
  font-size: 1.125rem;
  border-color: #0a7d3a;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  opacity: .9;
  transition: .2s ease;
  &:hover {
    color: white;
    opacity: 1;
  }
}
